In [34]:
###Comments and basic Data types
"""to write multiple lines and paragraphs of comments you need to use the 3 ' " ' quotions 
before and after the paragraph to implement this comment
yeah?
"""
print("hello, you!") #also comment out like this in a line

#basic data types are as follows

"""
Data Types Sample Value Description
Integer 5 Whole numbers
Float 5.7 Decimal numbers
Boolean True True or False values
String “Hello” Characters within quotes
"""

print(2)
print(2,10)

hello, you!
2
2 10

In [2]:
name = 'josh'
print(name.upper())

JOSH

In [2]:
print(True)

True

In [3]:
type(int)

type

In [4]:
type(4)

int

In [5]:
type(8.0) #tells you the type of data is in the input

float

In [7]:
#variables
#includes letters underscores and numbers
#cannot start with a number

Sport = 'Baseball'
print(Sport)

Baseball

In [8]:
Sport = 'Baseball'
print(sport) #note capital S not there so error

NameError: name 'sport' is not defined

In [9]:
##Boolean Variables
"""
Remember that booleans are True or False values, so storing them is as simple as typing
in one of those two words. Let’s write the following:
# storing a boolean into a variable
"""
switch = True
print(switch)
#Go ahead and run that cell. The resulted output is “True”. Notice that in Jupyter Notebook, the value of True or False will glow green. This is a good indication if we wrote it correctly.

True

In [11]:
#variables
name = 'Josh Morrow'
fav_number = '7'
print(name, fav_number)

Josh Morrow 7

In [12]:
addition = 3 + 4.3
print(addition)

7.3

In [13]:
#overwrite variables...
name = 'Josh'
print(name)
name = 'aaron'
print(name)

Josh
aaron

In [16]:
name = 'Josh' + 'Aaron'
print(name)

JoshAaron

In [23]:
first_name = "Josh"
last_name = "M"
full_name = first_name + " " + last_name #this gives a space between the name as empty space is not generally coded for 
print(full_name)

Josh M

In [24]:
#Format function for inserting variables into a string text or location

name = "josh"
print("hello {}, you are {} years young!" .format(name, 28))

hello josh, you are 28 years young!

In [25]:
#alternate way to inject format functions

name = "josh"
print(f"Hello {name}")

Hello josh

In [27]:
name = "josh"
age = 23
print(f"Hello {name}, you are {age} years old")

Hello josh, you are 23 years old

In [28]:
#python 2 does it a few different ways for injecting formats - dumb!

#use %s to indicate location in string and then define variables at end using % variable, or %(variable1, variable2)

first = 'Josh'
last = 'M'
print("hello, %s %s" %(first, last))

##?? why do we need to define things with " or just '?

hello, Josh M

In [29]:
# using indexes to print each element
'''Think of
an index as a position in a line that you’re waiting in at the mall. If you were at the front
of the line, you would be given an index number of zero.
but it is not just a line but more a repeating circle which goes from last position to first and vice versa'''
word = "Hello"
print( word[ 0 ] ) # will output 'H'
print( word[ 1 ] ) # will output 'e'
print( word[ -1 ] ) # will output 'o'

H
e
o

In [30]:
word = "hello"
print(word[0:2])

he

In [33]:
###OR
#variable_name[ start : stop : step ]
word = "hello"
print(word[0:4:2])

hl

###exercises

print(int)

In [36]:
type(False)

bool

In [37]:
type(5.8)

float

In [39]:
type('hello')

str

In [40]:
print(int,bool,float,str)

<class 'int'> <class 'bool'> <class 'float'> <class 'str'>

In [42]:
bool = False
print(23, 4.5, bool, "josh")

23 4.5 False josh

In [45]:
#tuesday Q2

x = 245.54 
y = 13.66
area = x*y
print(area)

3354.0764

In [50]:
#wed Q2

name = 'Josh'
sport = 'tennis'
print(f"%s's favourite sport is %s" %(name,sport))

Josh's favourite sport is tennis

In [57]:
# replacing an exclamation point with a period
data = "where os the mistake?"
print( data.replace( "o", "i" ) )

where is the mistake?

In [52]:
# using the title method to capitalize a string
name = "john smith"
print( name.title( ) )

John Smith

In [60]:
#find something within a text or dataset
animals = "cow, dog, sheep, fish"
print(animals.find("dog")) #if dog is there it will return the intex number of when that thing starts within the string

5

In [67]:
#.strip()

#removes white space in a string of text
name = "    josh    "
print(name.strip())

josh

In [69]:
#.split()
# converting a string into a list of words
s = "These words areseparated by spaces"
print( s.split(" ") )

['These', 'words', 'areseparated', 'by', 'spaces']

In [81]:
#thurs Q1
word = 'hell'
print(word.upper())

HELL

In [89]:
#thurs Q2
word = "$$ Josh $$"
print(word.strip("$"))
print(word.lstrip('$')) #.lstrip only removes from the beginning of the string

 Josh
 Josh $$

In [11]:
###creating a reciept printer

#build items
p1_name, p1_price = "books", 49.95
p2_name, p2_price = "computer", 490.95
p3_name, p3_price = "monitor", 29.95

 # create a company name and information
company_name = "computer nerds corp."
company_address = "Brains St."
company_city = "Melbourne, VIC"

#end message
message = "thanks for visiting the IT crowd today!"

In [25]:
#create boarder of reciept
print("*" * 50)

#print company info
print("\t\t{}".format(company_name.title())) # “\t” is essentially tab indentation, and two of them means in centre. alt “\n” which means newline
print("\t\t{}".format(company_address))
print("\t\t{}".format(company_city))
print("-" * 50)

#print headers for items
print("\tProduct Name\tProduct Price")
#then print items and prices under headers
print("\t{}\t\t${}".format(p1_name, p1_price))
print("\t{}\t\t${}".format(p2_name, p2_price))
print("\t{}\t\t${}".format(p3_name, p3_price))
print("-" * 50)

#print total section
print("\t\t\tTotal") #just the header
total = p1_price + p2_price+ p3_price
print("\t\t\t\t${}".format(total))
print("="*50)

#print message end section
print("\n\t{}\n".format(message))
print("*"*50)

#could try adding in QTY (more tabs) OR try using the new python 2 method of print(f"Hello {name}")

**************************************************
		Computer Nerds Corp.
		Brains St.
		Melbourne, VIC
--------------------------------------------------
	Product Name	Product Price
	books		$49.95
	computer		$490.95
	monitor		$29.95
--------------------------------------------------
			Total
				$570.85
==================================================

	thanks for visiting the IT crowd today!

**************************************************

In [46]:
#friday Q2
'''
STRING MANIPULATION METHODS
Method	Description
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Converts the elements of an iterable into a string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning
'''
#friday Q2
text = "joshua"
reversed = text[::-1]
print(reversed)

auhsoj